ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
}

li {
  margin: 0px 2px;
}

a {
  border: 1px solid black;
  background: rgba(180, 178, 178, 0.603);
  padding: 5px 15px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  display: block;
}
