.estreia-today {
  color: darkred;
}

h2 {
  display: inline;
  border: 5px solid black;
}
.estreia-tomorrow {
  color: darkblue;
}

a {
  text-decoration: none;
}

h2 a {
  color: rgb(8, 139, 65);
}

p {
  font-size: 20px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
