body {
  background: #f7f7f7;
  font-family: Arial;
  margin: 0px;
}

.grid {
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 60px 200px 15px 200px;
  grid-template-rows: auto auto auto 50px 170px;
  position: relative;
}

.logo {
  padding: 25px;
  margin-bottom: 30px;
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.conteudo {
  grid-row: 3/5;
}

.menu {
  display: block;
  text-align: center;
}

.item-menu {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 17px;
  background-color: white;
  display: inline-block;
  padding: 15px;
  margin-right: 20px;
  margin-bottom: 15px;
  border-radius: 4px;
}

.imagem-bicicleta {
  max-width: 100%;
  grid-column: 2;
  grid-row: 1/6;
}

h2 {
  font-weight: bold;
  place-self: end;
  padding: 5px 30px;
  font-size: 40px;
}

p {
  font-size: 20px;
}

.merchan {
  text-align: end;
  padding: 0px 30px;
  padding: 0px 30px 0px 50px;
}

.ver-mais {
  text-decoration: none;
  color: white;
  background: #ee2211;
  display: block;
  align-items: start;
  justify-self: end;
  text-transform: uppercase;
  border-radius: 4px;
  margin: 20px 30px 0px 0px;
  padding: 15px 30px;
  display: block;
}

.vantagens {
  font-size: 64px;
  grid-row: 6/9;
  color: #c6c6c6;
  text-transform: uppercase;
  align-self: center;
  text-align: end;
  margin-right: 30px;
}

.list-vantagens {
  grid-column: 2;
  grid-row: 6;
  padding: 50px;
}

.list-vantagens span {
  font-weight: bold;
  margin-left: 5px;
}

.list-vantagens p {
  margin: 10px 0px 20px 30px;
  width: 350px;
}

i {
  color: #ee2211;
}

.rodape {
  margin: 0px;
  background: #ffffff;
  text-align: center;
  max-width: 100%;
  padding: 10px 100px;
}

.detalhe {
  width: 75px;
  height: 5px;
  background: #ee2211;
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 520px;
}
