h1 {
  position: relative;
}

h1::after {
  content: "";
  display: block;
  width: 40px;
  height: 4px;
  background: #caf;
  margin: 0px 10px 0px 0px;
  position: absolute;
  top: 20px;
  z-index: -1;
}

ul {
  list-style: none;
}

li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: linear-gradient(#caf, #fff);
  border: 2px solid #caf;
  margin-right: 10px;
  border-radius: 50%;
}

li {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
