.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 2fr 1fr;
  place-items: start;
  grid-template-rows: auto auto auto 1fr;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.comprar {
  background-color: purple;
  text-decoration: none;
  color: aliceblue;
  padding: 10px;
  border-radius: 4px;
  font-size: 17px;
}

img {
  max-width: 100%;
  border-radius: 4px;
  grid-row: 2/5;
  grid-column: 1;
}

.preco {
  background-color: #ddd;
  padding: 5px 10px;
  border-radius: 4px;
}

p h1 {
  margin: 0px;
}

h1 {
  font-size: 37px;
  line-height: 1;
}

.titulo {
  grid-column: 1/-1;
}

.descricao .preco .comprar {
  grid-column: 2;
}
