h1 {
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  margin: 0px;
}

.item {
  background-color: rgba(207, 203, 203, 0.523);
  border: 1px solid rgba(113, 110, 110, 0.578);
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 4px;
  display: grid;
}

.comprar {
  background-color: #a8f;
  padding: 10px 50px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 17px;
}

.grid {
  display: grid;
  height: 800px;
  grid-template-columns: 300px 300px;
  gap: 10px;
  justify-content: center;
  align-content: end;
}
