.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 25px;
}

h1 {
  font-size: 37px;
  line-height: 1;
}

p h1 {
  margin: 0px;
}

p span {
  font-size: 20px;
}

.preco {
  background-color: #ddd;
  padding: 5px 10px;
  border-radius: 4px;
  place-self: center;
}

img {
  max-width: 100%;
  border-radius: 4px;
}

.comprar {
  background-color: purple;
  text-decoration: none;
  color: aliceblue;
  padding: 10px;
  border-radius: 4px;
  font-size: 17px;
  place-self: end;
}

.titulo {
  grid-column: 2;
  text-align: right;
}
