a {
  text-decoration: none;
  color: white;
  background: darkblue;
  display: inline-block;
}

p {
  background: lightblue;
}

.px {
  font-size: 32px;
  padding: 16px 32px;
}

html {
  font-size: 24px;
}

.rem {
  font-size: 2rem;
  padding: 1rem 2rem;
}

.em {
  font-size: 2em;
}
