h1 {
  margin: 0px;
  padding: 15px;
  background: lightgreen;
}

.index1 {
  position: relative;
  background: rgba(144, 238, 144, 0.386);
  top: 40px;
  z-index: -0;
}

.index2 {
  position: absolute;
  background: rgba(200, 144, 238, 0.386);
  top: 40px;
  z-index: -1;
}

h1 {
  position: relative;
  z-index: -1;
}
