@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(#adc3fa, #f4f5f7);
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  font-family: "Montserrat", sans-serif;
  max-width: 1200px;
  margin: auto;
  background: linear-gradient(#adc3fa, #f4f5f7);
  text-align: center;
}

main {
  display: grid;
}

img {
  /*Remover*/
  max-width: 100%;
}

.cabecalho {
  grid-column: 1/-1;
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}

.nome {
  text-align: start;
}

.nav-menu {
  position: static;
  right: 60px;
  top: 10px;
  text-align: end;
}

.nav-itens {
  text-decoration: none;
  font-size: 1.1rem;
  color: black;
  background: #6688f2;
  padding: 10px;
  border-radius: 4px;
  transition-duration: 0.3s;
}

.nav-itens:hover {
  background: #4970ed;
  text-decoration: underline;
}

.article-sobre-mim {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.sobre-mim-titulo {
  width: 300px;
  place-self: center;
}

.texto-sobre-mim {
  place-self: center;
}

.imagem-perfil {
  order: 1;
  align-self: center;
  max-width: 100%;
  height: 350px;
  border-radius: 15%;
  box-shadow: 5px 1px 10px rgb(65, 64, 64);
}
