@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(#adc3fa, #f4f5f7);
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  font-family: "Montserrat", sans-serif;
  max-width: 1200px;
  margin: auto;
  background: linear-gradient(#adc3fa, #f4f5f7);
  text-align: center;
}

main {
  display: grid;
}

img {
  /*Remover*/
  max-width: 100%;
}

.cabecalho {
  grid-column: 1/-1;
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}

.nome {
  text-align: start;
}

.nav-menu {
  position: static;
  right: 60px;
  top: 10px;
  text-align: end;
}

.nav-itens {
  text-decoration: none;
  font-size: 1.1rem;
  color: black;
  background: #6688f2;
  padding: 10px;
  border-radius: 4px;
  transition-duration: 0.3s;
}

.nav-itens:hover {
  background: #4970ed;
  text-decoration: underline;
}

.article-sobre-mim {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.sobre-mim-titulo {
  width: 400px;
  place-self: center;
}

.texto-sobre-mim {
  place-self: center;
  font-size: 1.1rem;
}

.imagem-perfil {
  order: 1;
  align-self: center;
  max-width: 100%;
  height: 350px;
  border-radius: 15%;
  box-shadow: 5px 1px 10px rgb(65, 64, 64);
}

.experiencia-titulo {
  text-transform: uppercase;
}

.list-experiencias {
  list-style: none;
}

.item-experiencia {
  background: #abc2fc;
  border-radius: 4px;
  padding: 10px;
  margin: 20px 0px;
  box-shadow: 3px 1px 15px rgb(65, 64, 64);
}

.nome-vaga {
  text-decoration: underline;
  color: #4970ed;
  font-size: 1rem;
}

.experiencia-empresa-time {
  font-size: 1rem;
  color: #6688f2;
}

.box-projetos {
  display: grid;
  grid-template-columns: auto auto auto;
}

.titulo-projetos {
  text-transform: uppercase;
}

.titulo-projetos {
  grid-column: 1/-1;
}

.box-projetos img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.item-projeto:hover {
  transition: 0.3s;
  transform: scale(1.05);
}

.rodape {
  margin-top: 50px;
  text-align: center;
  font-style: italic;
}
